<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

</head>
<body>


<div sec:authorize="isAuthenticated()">

        <div th:if="${session.book.liked == 'yes'}">

            <form action="/delete-from-wish" method="post">

                <tbody id="booksTableYes">
                <div>Title:
                    <span name="title" th:text="${session.book.title}"></span>
                </div>
                <div>ISBN:
                    <span name="isbn" th:text="${session.book.isbn}"></span>
                </div>
                <div>Author:
                    <span name="author" th:text="${session.book.author}"></span>
                </div>
                </tbody>

                <button type="submit">Is liked</button>
            </form>
        </div>

        <div th:if="${session.book.liked == 'no'}">

            <form action="/add-to-wish" method="post">

            <tbody id="booksTableNo">
            <div>Title:
                <span name="title" th:text="${session.book.title}"></span>
            </div>
            <div>ISBN:
                <span name="isbn" th:text="${session.book.isbn}"></span>
            </div>
            <div>Author:
                <span name="author" th:text="${session.book.author}"></span>
            </div>
            </tbody>

                <button type="submit">Like</button>
            </form>
        <div/>
    </div>

</div>

<div sec:authorize="isAnonymous()">

    <tbody id="booksTableAnon">
    <div>Title:
        <span name="title" th:text="${session.book.title}"></span>
    </div>
    <div>ISBN:
        <span name="isbn" th:text="${session.book.isbn}"></span>
    </div>
    <div>Author:
        <span name="author" th:text="${session.book.author}"></span>
    </div>
    </tbody>

</div>

</body>
</html>