<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

</head>
<body>

<tbody id="booksTable">
<div>Title: <td th:text="${book.title}"></td></div>
<div>ISBN: <td th:text="${book.isbn}"></td></div>
<div>Author: <td th:text="${book.author}"></td></div>
<div sec:authorize="isAuthenticated()">
    <c:choose>
        <c:when test="${book.liked}">
            <form action="/delete-from-wish" method="post"><button type="submit">Is liked</button></form>
        </c:when>

        <c:otherwise>
            <form action="/add-to-wish" method="post"><button >Like</button></form>
        </c:otherwise>
    </c:choose>

</div>
</tr>
</tbody>

</body>
</html>