<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<a href="/">Main page</a>

<div>Your liked books:</div>

<table>
    <thead>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    </thead>
    <tbody>

    <tr th:if="${books.isEmpty()}">
        <td colspan="2"> No Books Liked </td>
    </tr>
    <tr th:each="book : ${books}">
        <td>ISBN: <span th:text="${book.getIsbn()}">  </span></td>
        <td>Title: <span th:text="${book.getTitle()}">  </span></td>
        <td>Author: <span th:text="${book.getAuthor()}">  </span></td>
    </tr>

    </tbody>
</table>
</body>
</html>